# Node + Bun
node_modules/
bun.lockb
package-lock.json

# Next.js
.next/
out/
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
